<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="row">
    <%= f.label :type %><br>
    <%= f.text_field :d_type %>
  </div>
  <div class="row">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit vvalue: 'Create Article',class: 'button'%>
  </div>
<% end %>
